<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Show Medicine</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input type="hidden" name="id" [(ngModel)]="medicine.id">
    <div style="width: 500px;">
        <mat-grid-list cols="5" rowHeight="3:1">
            <mat-grid-tile> <h2><b>Name</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Dosage</b></h2> </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="5" rowHeight="3:1">
             <mat-grid-tile> {{medicine.name}} </mat-grid-tile>
             <mat-grid-tile> {{medicine.dosage}} </mat-grid-tile>
          </mat-grid-list>
    </div>
    <button mat-raised-button color="accent" style="margin-right: 10px;"class="main-button" 
            click=""
            [routerLink]="['/medicine-edit', medicine.id]">Edit
    </button>
    <button mat-raised-button color="secondary" style="margin-right: 10px;" (click)="remove(medicine.id)"
              type="button">Delete</button>
    <a mat-button routerLink="/medicine-list">Back</a>
  </mat-card-content>
</mat-card>