<mat-card style="width: 50%;">
  <mat-card-header style="font-weight: 700; font-size: 20pt;">Patient List</mat-card-header>
  <mat-card-content style="width: 400px">
      <mat-list>
        <mat-list-item href="#" *ngFor="let patient of patients">
          <h3 mat-line>
            <a mat-button [routerLink]="['/patient-show', patient.id]">{{patient.name}}</a>
          </h3>
          <button mat-raised-button color="accent" class="main-button" 
            click=""
            [routerLink]="['/patient-edit', patient.id]">Edit
          </button>
        </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>

<button mat-raised-button color="accent" class="main-button" 
        click=""
        [routerLink]="['/patient-add']">ADD PATIENT
</button>
<button mat-raised-button color="accent" class="main-button" 
        click=""
        [routerLink]="['/patient-plan']">ADD PATIENT PLANS
</button>
