<mat-card>
  <form #medicineForm="ngForm" (ngSubmit)="save(medicineForm.value, update)">
    <mat-card-header>
      <mat-card-title><h2>{{update ? 'Edit' : 'Add'}} Medicine</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="id" [(ngModel)]="medicine.id">
      <div layout="row"> 
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="medicine.name"
                  required name="name" #name>
        </mat-form-field>
      </div>
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Dosage" [(ngModel)]="medicine.dosage"
          required name="dosage" #dosage>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!medicineForm.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(medicine.id)"
              type="button">Delete</button>
      <a mat-button routerLink="/medicine-list">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>