<mat-card style="width: 50%;">
  <mat-card-header style="font-weight: 700; font-size: 20pt;">Caregiver List</mat-card-header>
  <mat-card-content style="width: 400px">
      <mat-list>
        <mat-list-item href="#" *ngFor="let caregiver of caregivers">
          <h3 mat-line>
            <a mat-button [routerLink]="['/caregiver-show', caregiver.id]">{{caregiver.name}}</a>
          </h3>
          <button mat-raised-button color="accent" class="main-button" 
            click=""
            [routerLink]="['/caregiver-edit', caregiver.id]">Edit
          </button>
        </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>

<button mat-raised-button color="accent" class="main-button" 
        click=""
        [routerLink]="['/caregiver-add']">ADD CAREGIVER
</button>
<button mat-raised-button color="secondary" class="main-button" 
        click=""
        [routerLink]="['/patient-caregiver']">ADD PATIENT
</button>
