<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Map Caregiver - Patient</mat-card-title>
      </mat-card-header>
      <form [formGroup]="mapForm" (ngSubmit)="save()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Caregiver Id" formControlName="c_id">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Patient Id" formControlName="p_id">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button class="btn-block">Map</button>
      </form>
    </mat-card>
  </div>

  <div style="width:48%; float: left;">
      <mat-card>
          <mat-card-header style="font-weight: 700; font-size: 20pt;">Patient List</mat-card-header>
          <mat-card-content style="width: 400px">
              <mat-list>
                <mat-list-item href="#" *ngFor="let patient of patients">
                  <h3 mat-line>
                    <a>{{patient.id}}</a>
                  </h3>
                  <h3 style="padding-right: 40%;">
                      <a>{{patient.name}}</a>
                    </h3>
                </mat-list-item>
              </mat-list>
          </mat-card-content>
        </mat-card>
  </div>
  
  <div style="width:48%; float: right;">
      <mat-card>
          <mat-card-header style="font-weight: 700; font-size: 20pt;">Caregiver List</mat-card-header>
          <mat-card-content style="width: 400px">
              <mat-list>
                <mat-list-item href="#" *ngFor="let caregiver of caregivers">
                  <h3 mat-line>
                    <a>{{caregiver.id}}</a>
                  </h3>
                  <h3 style="padding-right: 40%;">
                      <a>{{caregiver.name}}</a>
                    </h3>
                </mat-list-item>
              </mat-list>
          </mat-card-content>
        </mat-card>
  </div>