<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Show Doctor</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input type="hidden" name="id" [(ngModel)]="doctor.id">
    <div style="width: 500px;">
        <mat-grid-list cols="5" rowHeight="3:1">
            <mat-grid-tile> <h2><b>Name</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Username</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Address</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Birth Date</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Gender</b></h2> </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="5" rowHeight="3:1">
             <mat-grid-tile> {{doctor.name}} </mat-grid-tile>
             <mat-grid-tile> {{doctor.username}} </mat-grid-tile>
             <mat-grid-tile> {{doctor.address}} </mat-grid-tile>
             <mat-grid-tile> {{doctor.birth_date}} </mat-grid-tile>
             <mat-grid-tile> {{doctor.gender}} </mat-grid-tile>
          </mat-grid-list>
    </div>
    <button mat-raised-button color="accent" style="margin-left: 150px; margin-right: 10px;"class="main-button" 
            click=""
            [routerLink]="['/doctor-edit', doctor.id]">Edit
    </button>
    <button mat-raised-button color="secondary" style="margin-right: 10px;" (click)="remove(doctor.id)"
              type="button">Delete</button>
    <a mat-button routerLink="/doctor-list">Back</a>
  </mat-card-content>
</mat-card>