<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Show Caregiver</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input type="hidden" name="id" [(ngModel)]="caregiver.id">
    <div style="width: 500px;">
        <mat-grid-list cols="5" rowHeight="3:1">
            <mat-grid-tile> <h2><b>Name</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Username</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Address</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Birth Date</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Gender</b></h2> </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="5" rowHeight="3:1">
             <mat-grid-tile> {{caregiver.name}} </mat-grid-tile>
             <mat-grid-tile> {{caregiver.username}} </mat-grid-tile>
             <mat-grid-tile> {{caregiver.address}} </mat-grid-tile>
             <mat-grid-tile> {{caregiver.birth_date}} </mat-grid-tile>
             <mat-grid-tile> {{caregiver.gender}} </mat-grid-tile>
          </mat-grid-list>
    </div>
    <button mat-raised-button color="accent" style="margin-left: 130px; margin-right: 10px;"class="main-button" 
            click=""
            [routerLink]="['/caregiver-edit', caregiver.id]">Edit
    </button>
    <button mat-raised-button color="secondary" style="margin-right: 10px;" (click)="remove(caregiver.id)"
              type="button">Delete</button>
    <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="goToPatients(caregiver.id)"
              type="button">Patients</button>
    <a mat-button routerLink="/caregiver-list">Back</a>
  </mat-card-content>
</mat-card>