<mat-card style="width: 50%;">
    <mat-card-header style="font-weight: 700; font-size: 20pt;">MedicationPlan List</mat-card-header>
    <mat-card-content style="width: 400px">
        <mat-list>
          <mat-list-item href="#" *ngFor="let medicationPlan of medicationPlans">
            <h3 mat-line>
              <a >{{medicationPlan.period}}</a>
            </h3>
            <button mat-raised-button color="accent" class="main-button" 
              click=""
              [routerLink]="['/mediation-plan-edit', medicationPlan.id]">Edit
            </button>
          </mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>
  
  <button mat-raised-button color="accent" class="main-button" 
          click=""
          [routerLink]="['/medication-plan-add']">Add MedicationPlan
  </button>
  