<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Show Caregiver's Patients</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="width: 500px;">
        <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile> <h2><b>Name</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Gender</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Birth Date</b></h2> </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="3" rowHeight="3:1">
            <ng-container *ngFor="let patient of patients">
              <mat-grid-tile> {{patient.name}} </mat-grid-tile>
              <mat-grid-tile> {{patient.gender}} </mat-grid-tile>
              <mat-grid-tile> {{patient.birth_date}} </mat-grid-tile>
            </ng-container>
          </mat-grid-list>
    </div>
    <a mat-button style="margin-left: 217px;" routerLink="/caregiver-list">Back</a>
  </mat-card-content>
</mat-card>

