<mat-sidenav-container>
    <mat-sidenav  #sidenav role="navigation" (click)="sidenav.toggle()">
     <mat-nav-list >
      <a  mat-list-item>
        <mat-icon class="icon">input</mat-icon>
        <span class="label" routerLink="/login">Login</span>
      </a>
      <a mat-list-item
          routerLink="/">
        <mat-icon class="icon">home</mat-icon>
          <span class="label">Home</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">person</mat-icon>
        <span class="label" routerLink="/patient-list">Patients</span>
      </a>
      <a  mat-list-item
          type="button">
        <mat-icon class="icon">local_hospital</mat-icon>
        <span class="label" routerLink="/caregiver-list">Caregivers</span>
      </a>
      <a  mat-list-item
          type="button">
        <mat-icon class="icon">healing</mat-icon>
        <span class="label" routerLink="/medicine-list">Medication</span>
      </a>
      <a  mat-list-item
          type="button">
        <mat-icon class="icon">local_drink</mat-icon>
        <span class="label" routerLink="/medication-plan-list">MedicationPlans</span>
      </a>
      <a  mat-list-item
          type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
       <div fxHide.gt-xs>
         <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
       <div>
         <a routerLink="/">
            Regina Maria
         </a>
       </div>
       <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs class="put-them-right">
          <ul fxLayout fxLayoutGap="20px" class="navigation-items ">
              <li>
                  <a>
                    <mat-icon class="icon">input</mat-icon>
                    <span  class="label" routerLink="/login">Login</span>
                   </a>
              </li>
              <li>
                <a
                  routerLink="/">
                    <mat-icon class="icon">home</mat-icon>
                    <span class="label" routerLink="/home-page" >Home</span>
                </a>
              </li>
              <li>
                  <a>
                    <mat-icon class="icon">input</mat-icon>
                    <span class="label">LogOut</span>
                   </a>
              </li>
          </ul>
       </div>
      </mat-toolbar>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>