mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  display: flex;
  float: right;
  list-style: none;
  cursor: pointer;
}

.put-them-right{
  float: right;
  width: 100%;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  margin-right: 10px;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  line-height: 30px;
  margin: 0;
  width: 85%;
}