<mat-card style="width: 50%;">
  <mat-card-header style="font-weight: 700; font-size: 20pt;">Medicine List</mat-card-header>
  <mat-card-content style="width: 400px">
      <mat-list>
        <mat-list-item href="#" *ngFor="let medicine of medicines">
          <h3 mat-line>
            <a mat-button [routerLink]="['/medicine-show', medicine.id]">{{medicine.name}}</a>
          </h3>
          <button mat-raised-button color="accent" class="main-button" 
            click=""
            [routerLink]="['/medicine-edit', medicine.id]">Edit
          </button>
        </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>

<button mat-raised-button color="accent" class="main-button" 
        click=""
        [routerLink]="['/medicine-add']">Add Medicine
</button>
