<mat-card style="width: 50%;">
  <mat-card-header style="font-weight: 700; font-size: 20pt;">Doctors List</mat-card-header>
  <mat-card-content style="width: 400px">
      <mat-list>
        <mat-list-item href="#" *ngFor="let doctor of doctors">
          <h3 mat-line>
            <a mat-button [routerLink]="['/doctor-show', doctor.id]">{{doctor.name}}</a>
          </h3>
          <button mat-raised-button color="accent" class="main-button" 
            click=""
            [routerLink]="['/doctor-edit', doctor.id]">Edit
          </button>
        </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>

<button mat-raised-button color="accent" class="main-button" 
        click=""
        [routerLink]="['/doctor-add']">ADD doctor
</button>
