<mat-card>
  <form #doctorForm="ngForm" (ngSubmit)="save(doctorForm.value, update)">
    <mat-card-header>
      <mat-card-title><h2>{{update ? 'Edit' : 'Add'}} Doctor</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="id" [(ngModel)]="doctor.id">
      <div layout="row"> 
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="doctor.name"
                  required name="name" #name>
        </mat-form-field>
      </div>
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="doctor.username"
          required name="username" #username>
        </mat-form-field>
      </div>
      <div layout="row"> 
        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="doctor.password"
          required name="password" #password>
        </mat-form-field>
      </div>
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Address" [(ngModel)]="doctor.address"
          required name="address" #address>
        </mat-form-field>
      </div>
      <div layout="row"> 
        <mat-form-field>
          <input matInput placeholder="Gender" [(ngModel)]="doctor.gender"
          required name="gender" #gender>
        </mat-form-field>
      </div>
      <div layout="row"> 
        <mat-form-field>
          <input matInput placeholder="Birth Date" [(ngModel)]="doctor.birth_date"
          required name="birth_date" #birth_date>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!doctorForm.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(doctor.id)"
              type="button">Delete</button>
      <a mat-button routerLink="/doctor-list">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>