<mat-card>
    <mat-card-header>
        <mat-card-title><h2>{{update ? 'Edit' : 'Add'}} medicationPlan</h2></mat-card-title>
      </mat-card-header>
      <form [formGroup]="medForm" (ngSubmit)="save()">
      <mat-card-content>
        <div layout="row"> 
          <mat-form-field>
            <input matInput placeholder="Period" formControlName="period">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Medicine Id" formControlName="m_id">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" type="submit" >Save</button>
        <a mat-button routerLink="/medication-plan-list">Cancel</a>
      </mat-card-actions>
    </form>
  </mat-card>
  <mat-card-content>
      <div style="width:48%; float: left;">
          <mat-card>
              <mat-card-header style="font-weight: 700; font-size: 20pt;">Medicine List</mat-card-header>
              <mat-card-content style="width: 400px">
                  <mat-list>
                    <mat-list-item href="#" *ngFor="let medicine of medicines">
                      <h3 mat-line>
                        <a>{{medicine.id}}</a>
                      </h3>
                      <h3 style="padding-right: 40%;">
                          <a>{{medicine.name}}</a>
                        </h3>
                    </mat-list-item>
                  </mat-list>
              </mat-card-content>
            </mat-card>
      </div>
  </mat-card-content>