<div *ngIf="patient !== undefined">
<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Show Patient</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input type="hidden" name="id" [(ngModel)]="patient.id" #_id="ngModel">
    <div style="width: 800px;">
        <mat-grid-list cols="5" rowHeight="3:1">
            <mat-grid-tile> <h2><b>Name</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Username</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Address</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Birth Date</b></h2> </mat-grid-tile>
            <mat-grid-tile> <h2><b>Gender</b></h2> </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="5" rowHeight="3:1">
             <mat-grid-tile> {{patient.name}} </mat-grid-tile>
             <mat-grid-tile> {{patient.username}} </mat-grid-tile>
             <mat-grid-tile> {{patient.address}} </mat-grid-tile>
             <mat-grid-tile> {{patient.birth_date}} </mat-grid-tile>
             <mat-grid-tile> {{patient.gender}} </mat-grid-tile>
          </mat-grid-list>
    </div>
    <button mat-raised-button color="accent" style="margin-left: 150px; margin-right: 10px;"class="main-button" 
            click=""
            [routerLink]="['/patient-edit', patient.id]">Edit
    </button>
    <button mat-raised-button color="secondary" style="margin-right: 10px;" (click)="remove(patient.id)"
              type="button">Delete</button>
    <a mat-button routerLink="/patient-list">Back</a>
    <br><br>
    <h2 style="margin-left: 150px;">Medication Plan For Patient: {{patient.name}}</h2>
    <div style="width: 600px;">
      <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile> <h2><b>Period</b></h2> </mat-grid-tile>
        <mat-grid-tile> <h2><b>Medicine</b></h2> </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="2:1">
        <ng-container *ngFor="let medPlan of medicationPlans">
            <mat-grid-tile> {{medPlan.period}} </mat-grid-tile>
            <mat-grid-tile> 
              <mat-grid-list cols="2" rowHeight="3:1" style="padding-top: 110px;width:100%; height: 70%;">
                <mat-grid-tile> <h3><b>Name</b></h3> </mat-grid-tile>
                <mat-grid-tile> <h3><b>Dosage</b></h3> </mat-grid-tile>
                <ng-container *ngFor="let med of medPlan.medicationSet">
                    <mat-grid-tile> 
                      <a mat-button [routerLink]="['/medicine-show', med.id]"> {{med.name}} </a>
                    </mat-grid-tile>
                    <mat-grid-tile> {{med.dosage}} </mat-grid-tile>
                  </ng-container>
              </mat-grid-list> 
            </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
  </mat-card-content>
</mat-card>
</div>
